{% extends 'base.html.twig' %}

{% block title %}Usuario index{% endblock %}
 {% block stylesheets %}
   {{parent()}}
   <link rel="stylesheet" href="{{asset('dataTables/DataTables-1.10.20/css/jquery.dataTables.min.css')}}">
 {% endblock %}
{% block body %}
    <h2>Usuarios Cadastrado</h2>

    {# <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Senha</th>
                <th>Permissao</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.senha }}</td>
                <td>{{ usuario.permissao }}</td>
                <td>
                    <a href="{{ path('usuario_show', {'id': usuario.id}) }}">show</a>
                    <a href="{{ path('usuario_edit', {'id': usuario.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}



    <table width="100%" id="lista1" class="table table-striped table-hover">
        <thead>
        </thead> 
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('js/jquery-3.5.1.js')}}"></script>
    <script src="{{asset('dataTables/DataTables-1.10.20/js/jquery.dataTables.min.js')}}"></script>
    <script>
        var tabela = $("#lista1").DataTable({
    paging: true,
    lengthChange: true,
    searching: true,
    ordering: true,
    info: true,
    autoWidth: true,
    responsive: true,
    columns: 
    [
        { data: "username", title: "usuario"},
        // { data: "senha", title: "senha"},

    ],language: {
      decimal: ",",
        url: "{{ asset('dataTables/i18n/Portuguese-Brasil.json')}}"
    },ajax: {
      url: "{{ path('usuario_ajax') }}",
      type: "POST",
      dataSrc: function(resp){
        console.log(resp);
        
        $('#loading').remove();    
        return resp;
      }
    },
});
    
    </script>


    <a href="{{ path('usuario_new') }}">Novo usuario</a>

{% endblock %}
