{% extends 'base.html.twig' %}

{% block title %}Edit Cliente{% endblock %}

{% block body %}
    <h1>Edit Cliente</h1>
{# <pre> 
    {{ dump(cliente) }}
</pre>  #}

    {# {{ include('cliente/_form.html.twig', {'button_label': 'Update'}) }} #}

{{ form_start(form) }}
<div class="form-group">
    {{form_label(form.nome, 'Nome')}}
    {{ form_widget(form.nome,{'attr':{'class':'form-control text-capitalize'}}) }}
</div>
{{ form_end(form) }}

    <button class="btn">{{ button_label|default('Save') }}</button>
    <a href="{{ path('cliente_index') }}">back to list</a>

    {{ include('cliente/_delete_form.html.twig') }}
{% endblock %}
