{% extends 'base.html.twig' %}

{% block title %}Clientes Cadastrado{% endblock %}
 {% block stylesheets %}
   {{parent()}}
   <link rel="stylesheet" href="{{asset('dataTables/DataTables-1.10.20/css/jquery.dataTables.min.css')}}">
 {% endblock %}
{% block body %}
    <h1>Cliente</h1>

    {# <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Cpf</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.sobrenome }}</td>
                <td>{{ cliente.cpf }}</td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.telefone }}</td>
                <td>
                    <a href="{{ path('cliente_show', {'id': cliente.id}) }}">show</a>
                    <a href="{{ path('cliente_edit', {'id': cliente.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}


    <table width="100%" id="lista2" class="table table-striped table-hover">
        <thead>
        </thead> 
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('js/jquery-3.5.1.js')}}"></script>
    <script src="{{asset('dataTables/DataTables-1.10.20/js/jquery.dataTables.min.js')}}"></script>
    <script>
        var tabela = $("#lista2").DataTable({
            paging: true,
            lengthChange: true,
            searching: true,
            ordering: true,
            info: true,
            autoWidth: true,
            responsive: true,
            columns: 
            [
                { data: "nome", title: "cliente"},
                { data: "sobrenome", title: "sobrenome"},
                { data: "cpf", title: "cpf"},
                { data: "email", title: "email"},
                { data: "telefone", title: "telefone"},

            ],language: {
            decimal: ",",
                url: "{{ asset('dataTables/i18n/Portuguese-Brasil.json')}}"
            },ajax: {
                url: "{{ path('cliente_ajax') }}",
                type: "POST",
                dataSrc: function(resp){
                    console.log(resp);
                    
                    $('#loading').remove();    
                    return resp;
                }
            },
        }); 
    </script>
    <a href="{{ path('cliente_new') }}">Novo cliente</a>
{% endblock %}
