{% extends 'base.html.twig' %}

{% block title %}New Cliente{% endblock %}

{# {% block stylesheet %}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{% endblock %} #}

{% block body %}
    <h1>Create new Cliente</h1>

    {{ include('cliente/_form.html.twig') }}

    <a href="{{ path('cliente_index') }}">back to list</a>
{% endblock %}

