{% extends 'base.html.twig' %}

{% block title %}Empresa index{% endblock %}

{% block body %}
    <h1>Empresas Cadastrada</h1>
     {% block stylesheets %}
      {{parent()}}
     <link rel="stylesheet" href="{{asset('dataTables/DataTables-1.10.20/css/jquery.dataTables.min.css')}}">
     {% endblock %}
    {# <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Cnpj</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for empresa in empresas %}
            <tr>
                <td>{{ empresa.id }}</td>
                <td>{{ empresa.nome }}</td>
                <td>{{ empresa.cnpj }}</td>
                <td>{{ empresa.email }}</td>
                <td>{{ empresa.telefone }}</td>
                <td>
                    <a href="{{ path('empresa_show', {'id': empresa.id}) }}">show</a>
                    <a href="{{ path('empresa_edit', {'id': empresa.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}


    <table width="100%" id="lista1" class="table table-striped table-hover">
        <thead>
        </thead> 
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('js/jquery-3.5.1.js')}}"></script>
    <script src="{{asset('dataTables/DataTables-1.10.20/js/jquery.dataTables.min.js')}}"></script>
    <script>
        var tabela = $("#lista1").DataTable({
    paging: true,
    lengthChange: true,
    searching: true,
    ordering: true,
    info: true,
    autoWidth: true,
    responsive: true,
    columns: 
    [
        { data: "nome", title: "empresa"}, 
        { data: "cnpj", title: "cnpj"},
        { data: "email", title: "email"},
        { data: "telefone", title: "telefone"},

    ],language: {
      decimal: ",",
        url: "{{ asset('dataTables/i18n/Portuguese-Brasil.json')}}"
    },ajax: {
      url: "{{ path('empresa_ajax') }}",
      type: "POST",
      dataSrc: function(resp){
        console.log(resp);
        
        $('#loading').remove();    
        return resp;
      }
    },
});
    
    </script>
    
    <a href="{{ path('empresa_new') }}">Nova empresa</a>
{% endblock %}
