{% extends 'base.html.twig' %}

{% block title %}Empresa{% endblock %}

{% block body %}
    <h1>Empresa</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ empresa.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ empresa.nome }}</td>
            </tr>
            <tr>
                <th>Cnpj</th>
                <td>{{ empresa.cnpj }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ empresa.email }}</td>
            </tr>
            <tr>
                <th>Telefone</th>
                <td>{{ empresa.telefone }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('empresa_index') }}">back to list</a>

    <a href="{{ path('empresa_edit', {'id': empresa.id}) }}">edit</a>

    {{ include('empresa/_delete_form.html.twig') }}
{% endblock %}
