<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{asset('bootstrap/css/bootstrap.min.css')}}"/> 
        <meta charset="UTF-8">
        {# <link href="{{ asset('css/base.css') }}" rel="stylesheet"/> #}
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <h1> Sistema newProject </h1>
        <div class="container">
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
